@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

html, body {
  display: grid;
  grid-template-columns: 10vw 90vw;
  height: 100vh;
  width: 100vw;
  margin: 0;

  font-family: roboto;
}

nav {
  width: 10vw;
  background: #D2B291;
}

.navIcon {
  width: calc(10vw - 4px);
  height: calc(10vw - 4px);
  background: #B88E4B;
  border: #191919 solid 2px;
}

main {
  width: 100%;
  height: 100%;

  overflow-y: scroll;
}

.page {
  width: 100%;
  height: 100vh;
}


#landingPage {
  background: #DAB46F;
}
#menuPage {
  background: #307382;
}
#reviewsPage {
  background: #DAB46F;
}
#baristaPage {
  background: #307382;
}