@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

html, body {
  display: flex;
  
  height: 100%;
  width: 100%;
  margin: 0;

  font-family: roboto;
}

h1 {
  margin: 0;
  padding-top: 20px;
  font-size: 90px;
  color: #D2B291;
  font-weight: 300;
  text-align: center;
}

nav {
  width: min(10vw, calc(100vh / 8));
  background: #B37F4F;
}

img {
  height: 100vh;
}

.navIcon {
  display: block;
  position: relative;
  width: calc(min(10vw, calc(100vh / 8)) - 4px);
  height: calc(min(10vw, calc(100vh / 8)) - 4px);
  background: #FFD0A3;
  border: #191919 solid 2px;

  animation-fill-mode: both;
  animation-duration: 0.2s;
  animation-direction: normal;
}

#img_cornerLogo {
  width: 100%;
  height: 100%;
}

@keyframes fadeIn {
  from {
    background: #FFD0A3;
  }
  to {
    background: #FFA857;
  }
}

@keyframes fadeOut {
  from {
    background: #FFA857;
  }
  to {
    background: #FFD0A3;
  }
}

main {
  width: 100%;
  height: 100%;

  overflow-y: scroll;
  scroll-behavior: smooth;
}

.page {
  width: 100%;
  height: 100vh;
}


#landingPage {
  background: #ffca89;
}
#menuPage {
  background: #307382;
}
#reviewsPage {
  background: #ffca89;
}
#baristaPage {
  background: #307382;
}


#h_landing {
  color: #3D99B1;
}
#h_menu {
  color: #ffca89;
}
#h_reviews {
  color: #3D99B1;
}
#h_barista {
  color: #ffca89;
}